In [150]:
import webbrowser
import sqlite3
import pandas as pd
from IPython import display

In [151]:
#connect to db
conn = sqlite3.connect ("MyEducation.db")
print("Database successfully created. ")

Database successfully created.

In [152]:
#create cursor connection
mycursor = conn.cursor()

In [153]:
#upload csv file
csv_file = pd.read_csv("teacher_by_status_and_county_for_secondary.csv")
#csv_file

In [154]:
#remove the (county centroid) column
csv_file.drop ('County (centroid)', inplace=True, axis=1)
df = pd.DataFrame(csv_file)
df.head(10)

,COUNTY,School Type,Employment Body,No. of Teachers,Year
0,Baringo,Public,TSC,1172,12/31/2014 0:00
1,Bomet,Public,TSC,1379,12/31/2014 0:00
2,Bungoma,Public,TSC,2946,12/31/2014 0:00
3,Busia,Public,TSC,1182,12/31/2014 0:00
4,Elgeyo Marakwet,Public,TSC,1087,12/31/2014 0:00
5,Embu,Public,TSC,1491,12/31/2014 0:00
6,Garissa,Public,TSC,347,12/31/2014 0:00
7,Homa Bay,Public,TSC,2069,12/31/2014 0:00
8,Isiolo,Public,TSC,180,12/31/2014 0:00
9,Kajiado,Public,TSC,753,12/31/2014 0:00

In [145]:
#save the file in sqlite3
df.to_sql('teachers_by_county', conn, if_exists='replace', index=False)

In [157]:
#convert dataframe to html
teachers_table = df.to_html()

In [147]:
f = open('hrec.html', 'w')
#create html

content = '''<!DOCTYPE html>
    <html>
    <head>
        <title>Teachers Service Commission Report</title>
    </head>
    <body>
        <thead><caption><h1><center>Teachers report by county:</center></h2></caption></thead>
        <link rel='stylesheet' href='Education.css'/>
        %s
        </table>
        
    </body>
    </html>''' % (teachers_table)
#read from the converted csv filen
f.write(content)
#write to html
f.close()
webbrowser.open_new_tab('hrec.html')

True